# Data Loading, Storage, and File Formats
functions for reading tabular data into a dataframe 
.  
.  
read_csv -- Load data from a file, URL, or file-like object; use comma as default delimiter  
read_fwf -- Read data in fixed-width column format   
read_clipboard -- Version of read_csv that reads data from the clipboard; useful for converiting tables from web pages  
read_excel -- read tabular data from an XLS or XLSX file   
read_hdf -- Read HDF5 files written by pandas  
read_html -- Read all tables found in the given HTML documnet   
read_json -- Read data from a JSON string representation   
read_msgpack -- Read pandas data encoded using the MessagePack binary format    
read_pickle -- Read an arbitrary object stored in Python pickle format   
read_sas -- Read a SAS dataset stored in one of the SAS system's custom storage Formats  
read_sql -- Read the results of a SQL query as a pandas DataFrame   
read_stata -- Read a dataset from stata file format   
read_feather -- Read the Feather binary file format

In [2]:
import pandas as pd
df = pd.read_csv('exampledata/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. You can load a dataframe without a header

In [4]:
df = pd.read_csv('exampledata/ex1.csv', header=None)
df

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

to specify the header yourself you can use the following code

In [8]:
df2 = pd.read_csv('exampledata/ex1.csv', names=['a', 'b', 'c', 'd', 'message'])
df2

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

Suppose you wanted a column to be the index.

In [22]:
df = pd.read_csv('exampledata/ex1.csv', index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

message
hello     2
world     6
foo      10
Name: b, dtype: int64