# Data Loading, Storage, and File Formats
functions for reading tabular data into a dataframe 
.  
.  
read_csv -- Load data from a file, URL, or file-like object; use comma as default delimiter  
read_fwf -- Read data in fixed-width column format   
read_clipboard -- Version of read_csv that reads data from the clipboard; useful for converiting tables from web pages  
read_excel -- read tabular data from an XLS or XLSX file   
read_hdf -- Read HDF5 files written by pandas  
read_html -- Read all tables found in the given HTML documnet   
read_json -- Read data from a JSON string representation   
read_msgpack -- Read pandas data encoded using the MessagePack binary format    
read_pickle -- Read an arbitrary object stored in Python pickle format   
read_sas -- Read a SAS dataset stored in one of the SAS system's custom storage Formats  
read_sql -- Read the results of a SQL query as a pandas DataFrame   
read_stata -- Read a dataset from stata file format   
read_feather -- Read the Feather binary file format

In [347]:
import pandas as pd
df = pd.read_csv('exampledata/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. You can load a dataframe without a header

In [348]:
df = pd.read_csv('exampledata/ex1.csv', header=None)
df

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

to specify the header yourself you can use the following code

In [349]:
df2 = pd.read_csv('exampledata/ex1.csv', names=['a', 'b', 'c', 'd', 'message'])
df2

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

Suppose you wanted a column to be the index.

In [350]:
df = pd.read_csv('exampledata/ex1.csv', index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

message
hello     2
world     6
foo      10
Name: b, dtype: int64

should your data file represent missing cells in a certain way e.g. Na, missing, Nan you can specify this to pandas and it   
will replace it with its own missing format.

In [351]:
result = pd.read_csv('exampledata/ex1.csv', na_values=['Null']) #pandas will replace the missing value with its own sentinel NaN

## Some Read CSV functions 
path -- String indicating filesystem location, URL, or file-like object   
sep or delimiter -- Character sequence or regular expression to use to split fields in each row  
header -- Row number to use as column names; defaults to 0 (frist row), but should be None if there is no header row 
index_col -- Column number or names to use as the row index in the result; can be a single name/nmber or a list of them for a hierachical index   
names -- List of column names for result, combine with header=None
skiprows -- Number of rows at beginning of file to ignore or list of row numbers to skip. 
na_values -- Sequence of values to replace with na_valuescomment -- Characters to split comments of the end of lines. 
parse_dates -- Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns, Otherwise can specify a list of column numbers or name to parse. If  
               element of list is tuple or list, will combine multiple columns together and parse to date 
dayfirst -- When parsing potentially ambiguous dates, treat as international format, False by default  
nrows -- Number of rows to read from beginning of file
iterator -- Return a TextParser object for reading file piecemeal  
chinksize -- for iteration, size of file chunks   
skip_footer -- number of lines to ignore at end of file   
.  
.  
.  
.  
# Reading Text Files in Pieces

In [352]:
pd.read_csv('exampledata/homes.csv', nrows=5) #reads just 5 rows

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

In [353]:
# to read in a number of chunks 
chunker = pd.read_csv('exampledata/homes.csv', chunksize=10) # Specifies the number of rows per chunk
chunker

In [354]:
tot = pd.Series([])
for piece in chunker:
    #print('Piece value counts: \n', piece['Sell'].value_counts())
    tot = tot.add(piece['Sell'].value_counts(), fill_value=0)#.value counts returns a count of unique values. fill_value specifies what value to give missing data.

tot = tot.sort_values(ascending=False)
tot

152    2.0
129    2.0
157    2.0
175    2.0
180    2.0
135    2.0
110    2.0
148    2.0
123    1.0
127    1.0
128    1.0
111    1.0
133    1.0
150    1.0
136    1.0
106    1.0
138    1.0
142    1.0
143    1.0
145    1.0
89     1.0
146    1.0
567    1.0
151    1.0
190    1.0
271    1.0
265    1.0
247    1.0
234    1.0
232    1.0
212    1.0
207    1.0
185    1.0
293    1.0
184    1.0
183    1.0
170    1.0
167    1.0
166    1.0
165    1.0
153    1.0
87     1.0
dtype: float64

# Writing data to Text Format

In [355]:
data = pd.read_csv('exampledata/homes.csv')
data.to_csv('exampledata/ouput.csv')

#To use other delimeter formats
import sys 
data.to_csv(sys.stdout,  sep='|')

|Sell|" ""List"""|" ""Living"""|" ""Rooms"""|" ""Beds"""|" ""Baths"""|" ""Age"""|" ""Acres"""|" ""Taxes"""
0|142|160|28|10|5|3|60|0.28|3167
1|175|180|18|8|4|1|12|0.43|4033
2|129|132|13|6|3|1|41|0.33|1471
3|138|140|17|7|3|1|22|0.46|3204
4|232|240|25|8|4|3|5|2.05|3613
5|135|140|18|7|4|3|9|0.57|3028
6|150|160|20|8|4|3|18|4.0|3131
7|207|225|22|8|4|2|16|2.22|5158
8|271|285|30|10|5|2|30|0.53|5702
9|89|90|10|5|3|1|43|0.3|2054
10|153|157|22|8|3|3|18|0.38|4127
11|87|90|16|7|3|1|50|0.65|1445
12|234|238|25|8|4|2|2|1.61|2087
13|106|116|20|8|4|1|13|0.22|2818
14|175|180|22|8|4|2|15|2.06|3917
15|165|170|17|8|4|2|33|0.46|2220
16|166|170|23|9|4|2|37|0.27|3498
17|136|140|19|7|3|1|22|0.63|3607
18|148|160|17|7|3|2|13|0.36|3648
19|151|153|19|8|4|2|24|0.34|3561
20|180|190|24|9|4|2|10|1.55|4681
21|293|305|26|8|4|3|6|0.46|7088
22|167|170|20|9|4|2|46|0.46|3482
23|190|193|22|9|5|2|37|0.48|3920
24|184|190|21|9|5|2|27|1.3|4162
25|157|165|20|8|4|2|7|0.3|3785
26|110|115|16|8|4|1|26|0.29|3103
27|135|145|18|7|4|1|35|0.43|3363
28|567|625|64|11|4|4|4|0.85|12192
29|180|185|20|8|4|2|11|1.0|3831
30|183|188|17|7|3|2|16|3.0|3564
31|185|193|20|9|3|2|56|6.49|3765
32|152|155|17|8|4|1|33|0.7|3361
33|148|153|13|6|3|2|22|0.39|3950
34|152|159|15|7|3|1|25|0.59|3055
35|146|150|16|7|3|1|31|0.36|2950
36|170|190|24|10|3|2|33|0.57|3346
37|127|130|20|8|4|1|65|0.4|3334
38|265|270|36|10|6|3|33|1.2|5853
39|157|163|18|8|4|2|12|1.13|3982
40|128|135|17|9|4|1|25|0.52|3374
41|110|120|15|8|4|2|11|0.59|3119
42|123|130|18|8|4|2|43|0.39|3268
43|212|230|39|12|5|3|202|4.29|3648
44|145|145|18|8|4|2|44|0.22|2783
45|129|135|10|6|3|1|15|1.0|2438
46|143|145|21|7|4|2|10|1.2|3529
47|247|252|29|9|4|2|4|1.25|4626
48|111|120|15|8|3|1|97|1.11|3205
49|133|145|26|7|3|1|42|0.36|3059

In [356]:
data.to_csv(sys.stdout, na_rep='NULL') # will replace all empty values with 'NULL'
# with no other options specified the row and column labels will be written to the file 
# however you can disable them 
data.to_csv('exampledata/output.csv', index=False, header=False) #this file has been saved with no index or header

,Sell," ""List"""," ""Living"""," ""Rooms"""," ""Beds"""," ""Baths"""," ""Age"""," ""Acres"""," ""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613
5,135,140,18,7,4,3,9,0.57,3028
6,150,160,20,8,4,3,18,4.0,3131
7,207,225,22,8,4,2,16,2.22,5158
8,271,285,30,10,5,2,30,0.53,5702
9,89,90,10,5,3,1,43,0.3,2054
10,153,157,22,8,3,3,18,0.38,4127
11,87,90,16,7,3,1,50,0.65,1445
12,234,238,25,8,4,2,2,1.61,2087
13,106,116,20,8,4,1,13,0.22,2818
14,175,180,22,8,4,2,15,2.06,3917
15,165,170,17,8,4,2,33,0.46,2220
16,166,170,23,9,4,2,37,0.27,3498
17,136,140,19,7,3,1,22,0.63,3607
18,148,160,17,7,3,2,13,0.36,3648
19,151,153,19,8,4,2,24,0.34,3561
20,180,190,24,9,4,2,10,1.55,4681
21,293,305,26,8,4,3,6,0.46,7088
22,167,170,20,9,4,2,46,0.46,3482
23,190,193,22,9,5,2,37,0.48,3920
24,184,190,21,9,5,2,27,1.3,4162
25,157,165,20,8,4,2,7,0.3,3785
26,110,115,16,8,4,1,26,0.29,3103
27,135,145,18,7,4,1,35,0.43,3363
28,567,625,64,11,4,4,4,0.85,12192
29,180,185,20,8,4,2,11,1.0,3831
30,183,188,17,7,3,2,16,3.0,3564
31,185,193,20,9,3,2,56,6.49,3765
32,152,155,17,8,4,1,33,0.7,3361
33,148,153,13,6,3,2,22,0.39,3950
34,152,159,15,7,3,1,25,0.59,3055
35,146,150,16,7,3,1,31,0.36,2950
36,170,190,24,10,3,2,33,0.57,3346
37,127,130,20,8,4,1,65,0.4,3334
38,265,270,36,10,6,3,33,1.2,5853
39,157,163,18,8,4,2,12,1.13,3982
40,128,135,17,9,4,1,25,0.52,3374
41,110,120,15,8,4,2,11,0.59,3119
42,123,130,18,8,4,2,43,0.39,3268
43,212,230,39,12,5,3,202,4.29,3648
44,145,145,18,8,4,2,44,0.22,2783
45,129,135,10,6,3,1,15,1.0,2438
46,143,145,21,7,4,2,10,1.2,3529
47,247,252,29,9,4,2,4,1.25,4626
48,111,120,15,8,3,1,97,1.11,3205
49,133,145,26,7,3,1,42,0.36,3059

## Working With Delimited Formats

In [357]:
bad_data = pd.read_csv('exampledata/bad_csv.csv')
bad_data

   a  b  c
0  1  2  3
1  1  2  3

As you can see the elements are represented in double quote marks. This is more common than usual. in this case it may be necessary to manually read in the file using pythons built-in csv module.

In [358]:
!cat exampledata/bad_csv.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [359]:
import csv
f = open('exampledata/bad_csv.csv')
reader = csv.reader(f)

for line in reader: 
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

from here, it's up to you to do the wrangling.

In [360]:
with open('exampledata/bad_csv.csv') as f: 
    lines = list(csv.reader(f))

header, values = lines[0], lines[1:] #lines 0 is the header. lines 1 and onwards are the values.

# Now create a dictionary of data columns 
# *values collects all the positions in the tuple
# zip joins a list all positional elements together in a tuple 

data_dict = {h: v for h, v in zip(header, zip(*values))} 
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

csv files can come in many different forms you can specify your own by creating a class like the one below

In [361]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
f = open('exampledata/homes.csv')
reader = csv.reader(f, delimiter='|')

with open('exampledata/mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('hello', 'this', 'is', 'a', 'string'))
    writer.writerow(('1', '2', '3', '4'))
    writer.writerow(('%', '5', '6', '7'))

!cat 'exampledata/mydata.csv'

hello;this;is;a;string
1;2;3;4
%;5;6;7

# JSON Data
JSON JavaScript Object Notations has become the standard format for sending HTTPS requests. (asking for and receiving data from servers through the web) below is an example

In [362]:
obj = """
  {"name": ["Ollie", "NaN"],
  "places_lived": ["battle", "robertsbridge"],
  "pet": ["Mac", "philip"],
  "siblings":["thomas", "Giles"]
  }"""

JSON is very similar to python code apart from some nuances. All keys must be strings. Null is represented by null.

In [363]:
import json 
result = json.loads(obj) # loads a JSON object into python
result

{'name': ['Ollie', 'NaN'],
 'places_lived': ['battle', 'robertsbridge'],
 'pet': ['horse', 'philip'],
 'siblings': ['thomas', 'Giles']}

In [364]:
asjson = json.dumps(result) #converts to JSON
asjson

'{"name": ["Ollie", "NaN"], "places_lived": ["battle", "robertsbridge"], "pet": ["horse", "philip"], "siblings": ["thomas", "Giles"]}'

once you have received the JSON into data you can load it into a dataframe like any python dicts

In [367]:
df = pd.DataFrame(result, index_col='pet')
df

    name   places_lived     pet siblings
0  Ollie         battle   horse   thomas
1    NaN  robertsbridge  philip    Giles